[submodule "third_party/bottle"]
	path = third_party/bottle
	url = https://github.com/defnull/bottle
[submodule "third_party/jedi"]
	path = third_party/jedi_deps/jedi
	url = https://github.com/davidhalter/jedi
[submodule "third_party/jedi_deps/numpydoc"]
	path = third_party/jedi_deps/numpydoc
	url = https://github.com/numpy/numpydoc
[submodule "third_party/parso"]
	path = third_party/jedi_deps/parso
	url = https://github.com/davidhalter/parso
[submodule "third_party/watchdog"]
	path = third_party/watchdog_deps/watchdog
	url = https://github.com/gorakhargosh/watchdog
[submodule "third_party/mrab-regex"]
	path = third_party/mrab-regex
	url = https://bitbucket.org/mrabarnett/mrab-regex.git
