[submodule "third_party/jedi"]
	path = third_party/jedi_deps/jedi
	url = https://github.com/davidhalter/jedi
[submodule "third_party/jedi_deps/numpydoc"]
	path = third_party/jedi_deps/numpydoc
	url = https://github.com/numpy/numpydoc
[submodule "third_party/parso"]
	path = third_party/jedi_deps/parso
	url = https://github.com/davidhalter/parso
[submodule "third_party/watchdog"]
	path = third_party/watchdog_deps/watchdog
	url = https://github.com/gorakhargosh/watchdog
[submodule "third_party/mrab-regex-github"]
	path = third_party/mrab-regex-github
	url = https://github.com/mrabarnett/mrab-regex
