flake8>=2.6.0
mock>=1.3.0
nose>=1.3.7
PyHamcrest>=1.8.5
WebTest>=2.0.20
ordereddict>=1.1
nose-exclude>=0.4.1
unittest2>=1.1.0
psutil>=3.3.0
# This needs to be kept in sync with submodule checkout in third_party
future==0.15.2
codecov>=2.0.5
